@tailwind base;
@tailwind components;
@tailwind utilities;



.word {
  position: absolute; /* makes words stack on top of each other */
  opacity: 0;
  white-space: nowrap;
}

.word2 {
  position: absolute; /* makes words stack on top of each other */
  opacity: 0;
  white-space: nowrap;
}

.word3 {
  position: absolute; /* makes words stack on top of each other */
  opacity: 0;
  white-space: nowrap;
}

.letter {
  display: inline-block;
  transform-origin: 50% 50% calc((25 / 16) * 1rem);
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}